@import 'susy';  
@import 'breakpoint'; 
@import 'variables';
$susy: (  
  columns: 16,  
  gutters: 1/4,  
  math: fluid,  
  output: float,  
  gutter-position: inside,  
  /*debug: (image:true),*/
);
body{
  margin:0;
  font-family: $txt-family;
}
.contaiers{
  @include container($pc);
  padding:0 15px;
  @include breakpoint($pc) {
    padding:0;
  }
}
.rwd{
  width:auto;
  max-width: 100%;
}
header{
  display:block;
  width:100%;
  float:left;
  background:#F9F9F9;
  .contaiers{

  }
  h1{
    font-size: 14px;
    float: left;
    padding-left: 10px;
    color:#4E4E4E;
  }
}

.profile{
  float: left;
  width: 100%;
  padding: 12px 0;
  .my{
    @include span(8);
    @include breakpoint($pad){
      @include span(4);
    }
    @include breakpoint($pc){
      @include span(2);
    }

    img{
      border-radius: 10px;
    }
  }
  nav.introduce{
    ul{
      list-style:none;
      @include span(8);
      @include breakpoint($pc){
        @include span(4);
      }
      li{
        
      }
    }
  } 
}
